
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.navbar a {
    font-weight: 600;
    font-size: 18px;
}

.carousel-item {
    min-height: 400px;

}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;

}

.carousel-caption p {
    width: 100%;
    margin: auto;
    font-size: 18px;
}

.carousel-inner::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0.4);
    z-index: 1;

}

.Servicios {
    padding: 80px 0;
}

.bg-car1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/c1.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/c2.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/c3.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #eae5df;
}

.banner img{
    width: 500px;
}

